<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark" th:fragment="header">
    <a th:href="@{/recipes}" href="#" id="main-ref" class="navbar-brand mb-0 h1">Cookbook Ipanema</a>
    <a th:href="@{/user/registration}" href="#" class="btn btn-primary">Регистрация</a>
    <a th:href="@{/recipes/edit_recipe}" href="#" class="btn btn-primary">Добавить рецепт</a>
</nav>
</body>
</html>