<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark" th:fragment="header">
            <a th:href="@{/recipes}" href="#" class="navbar-brand mb-0 h1">Cookbook Cosa Nostra</a>

            <form class="d-flex" th:action="@{/recipes/search}" method="get">
                <input class="form-control me-2" type="search" th:name="title" placeholder="Поиск по названию"/>
                <button type="submit" class="btn btn-outline-success">Поиск</button>
            </form>

            <a th:href="@{/recipes/add_recipe}" href="#" class="btn btn-primary">Добавить рецепт</a>
        </nav>
    </body>
</html>