<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cookbook</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css">
<body>
<div class="container mt-15 mb-15">
    <div th:replace="~{fragments/header::header}">Header</div>

    <p>
    <form th:action="@{/recipes}" method="get">
        <label class="lbl" th:for="categoryId">Категория</label>
        <select th:name="categoryId" th:id="categoryId">
            <option value="" label="ALL"></option>
            <option th:each="c : ${categories}" th:value="${c.id}" th:label="${c.title}"></option>
        </select>
        <label class="lbl" th:for="title">Наименование блюда</label>
        <input type="text" th:name="title" th:id="title">
        <button type="submit" class="btn btn-outline-primary btn-sm">Поиск</button>
    </form>
    </p>

    <h2>Список рецептов</h2>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div th:each="recipe : ${recipes}" class="card" style="width: 18rem;">
            <div th:text="${recipe.category.title}" class="card-header">Category
            </div>

            <img th:src="${recipe.imagePath}" class="card-img-top" alt="plate image">

            <div class="card-body">
                <a th:href="@{/recipes/recipe/{recipe_id}(recipe_id = ${recipe.id})}" href="#">
                    <h5 th:text="${recipe.title}" class="card-title">Plate title</h5>
                </a>
                <p th:text="${recipe.description}" class="card-text">Plate description</p>

                <div class="justify-content">
                    <a th:href="@{/recipes/edit_recipe(recipe_id=${recipe.id})}" href="#" class="btn btn-primary">Редактировать</a>
                    <a th:href="@{/recipes/remove(recipe_id=${recipe.id})}" href="#" class="btn btn-danger">Удалить</a>
                </div>

            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="messages">
        </div>
    </div>

    <div th:replace="~{fragments/footer::footer}">
        Footer
    </div>
</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
<script src="/webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script th:inline="javascript">

    $(function() {
        var stompClient = null;
        var url = [[${#httpServletRequest.requestURL}]];
        const regex = /recipes/;
        let stompUrl = url.replace(regex, 'stomp');
        var socket = new SockJS(stompUrl);
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame) {
            stompClient.subscribe('/cookbook/new', function (data) {
                var recipe = JSON.parse(data.body);
                var result = '<span>New recipe ' + recipe.title + '</span><br/>';
                $('#messages').append(result);
            });
        });
    });

</script>
</body>
</html>