#drop-area {
    border: 2px dashed #ccc;
    border-radius: 30px;
    width: 720px;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 20px;
}
#drop-area.highlight {
    border-color: purple;
}
p {
    margin-top: 0;
}
.my-form {
    margin-bottom: 10px;
}
#gallery {
    margin-top: 10px;
}
#gallery img {
    width: 200px;
    margin-bottom: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#fileElem {
    display: none;
}
div.image {
    display: inline;
}
a.removeimage {
    vertical-align: top;
    color: black;
}

.recipe-ingredient {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}
